/* CONTAINER */
.container {
  width: 100%;
  max-width: 60rem;
  max-height: 200rem;
  margin: 0 auto;
  position: relative;
  margin-top: 6rem;
  margin-bottom:2rem;
}

/* VIEWPORT */
.viewport {
  overflow: hidden;
  border-radius: 1.2rem;
}

/* TRACK */
.track {
  display: flex;
  transition: transform 0.6s ease;
}

/* SLIDE */
.slide {
  min-width: 100%;
  height: 30rem;
  position: relative;
  overflow: hidden;
  border: none;
  outline: none;
}

/* IMAGEM */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

/* OVERLAY (TEXTO) */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
  transition: opacity 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem 6rem; /* zona segura longe das setas */
  z-index: 2;
}

.slide:hover .overlay {
  opacity: 1;
}

/* TEXTO */
.title {
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
}

.description {
  color: #e5e7eb;
  font-size: 1.1rem;
  max-width: 90%;
}

/* ARROWS (NÃO COBREM TEXTO) */
.arrow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 3.5rem;

  border: none;
  outline: none;
  box-shadow: none;

  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.3s ease;

  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* remove foco branco do chrome */
.arrow:focus,
.arrow:focus-visible {
  outline: none;
  box-shadow: none;
}

/* firefox */
.arrow::-moz-focus-inner {
  border: 0;
}

.container:hover .arrow {
  opacity: 1;
}
.left {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0)
  );
}

.right {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0)
  );
}
.arrow span {
  font-size: 2.4rem;
  color: white;
  opacity: 0.85;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none; /* MUITO IMPORTANTE */
}

.left span {
  transform: translateX(-6px);
}

.right span {
  transform: translateX(6px);
}

.arrow:hover span {
  transform: translateX(0);
  opacity: 1;
}
.arrow:hover {
  background: rgba(255, 255, 255, 0.03);
}


/* DOTS */
.dots {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  opacity: 0.4;
  cursor: pointer;
}

.active {
  opacity: 1;
  transform: scale(1.3);
}

/* MOBILE */
@media (max-width: 768px) {
  .slide {
    height: 22rem;
  }

  .overlay {
    padding: 1.5rem 2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.95rem;
  }

  .arrow {
    display: none;
  }
}
