.expandableCardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    width: 100%;
    max-width: 70rem;
    height: 25rem;
    gap: 10px;
    margin-inline: 50px; 
    margin-top: 10rem;
    transition: transform 0.3s ease;
  }
  
  
  .card{
    display: block;
    flex: 1;
    width: rem;
    min-width: 10%; /* Alterado para ocupar todo o espaço do card */
    height: 100%;
    border-radius: 30px;
   
    align-items: center;
    justify-content: center;
    position: relative;
    border: 4px solid gray;
    overflow: hidden; /* Garante que a imagem não ultrapasse as bordas */
    transition: transform 0.4s ease;
    will-change: transform; /*melhora a performance da transição */
  }
  
  .card img {
    width: 100%; /* Garante que a imagem ocupe todo o espaço do card */
    height: 100%; /* Mantém a proporção da imagem */
    object-fit: cover;
    overflow: hidden; /*garante que a foto não utrapasse o card */
  
  }
  .card:hover {
    flex: 4;
    transition: transform 0.4s ease;
    transform: scale(1.05); /* Aumenta o card ao passar o mouse */
    width: 100%;
    border-color: var(--green);
    gap: 0 ;
  }
  
  
  .expandableCardContainer:not(:hover) div:nth-child(1){
    flex:4;
  }
  
  .card-content > .title {
    margin-left: 10px;
    translate: 0 100%;
    opacity: 0;
  }
  
  .card:hover .title {
    opacity: 1;
    transform: translateY(0); 
  }
  