a {
  font-weight: 500;
  color: var(--gray-300);
  text-decoration: inherit;
  transition: color 0.25s;
  padding: 1rem;
}

a:hover {
  color: var(--green);
}

body {
  margin: 0;
}

html {
  scroll-padding-top: 5rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--blue-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

.header h2 {
  color: var(--white);
}

.header nav {
  display: flex;
  align-items: center;
}

.links-navegacao {
  display: flex;
  gap: 35px;
  list-style: none;
}

.links-navegacao a {
  font-size: 1.4em;
  font-weight: 300;
  padding: 0;
}

@media (max-width: 1024px) {
  .header {
    padding: 0 5%;
  }
}

@media (max-width: 768px) {
  .links-navegacao {
    gap: 20px;
  }
  
  .links-navegacao a {
    font-size: 1.1em;
  }
}