.linkButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  min-width: 4.5rem;       
  max-width: 8rem;         
  padding: 0.75rem 0.75rem; 

  background-color: transparent;
  border: 2px solid var(--green);
  border-radius: 1.25rem;

  cursor: pointer;
  transition: all 0.3s ease;
}

.linkButton img {
  width: 2rem;
  height: 2rem;
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease;
}


.label {
  font-size: 0.8rem;
  color: var(--gray-300);
  text-align: center;
  line-height: 1.2;

  white-space: nowrap;     
}


.linkButton:hover {
  background-color: var(--green);
  transform: translateY(-3px);
  box-shadow: 0 0 15px var(--green);
}

.linkButton:hover img {
  filter: brightness(0) saturate(100%) invert(100%);
}

.linkButton:hover .label {
  color: var(--blue-900);
}
