#root {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.appContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;    
}

.inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem; 
}

.avatarWithBorder {
  height: 25rem;
  width: 25rem;
  border-radius: 100%;
  border: 3px solid var(--green);

}



.sitesPortrait  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: oklch(13% 0.028 261.692);
  margin: 0 auto;
  

}

.techsPortrait {
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: oklch(27.8% 0.033 256.848);
}
.contatosPortrait {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 2rem 1rem; 
  background-color: oklch(14.7% 0.004 49.25);
  box-sizing: border-box;
}




.presentationArea {
  display: grid;
  width: 28rem;
  height: 14rem;
  margin-top: 3.5rem;
  margin-bottom: 0;
}



.title {
  font-size: 1.7rem;
  padding-bottom: 1rem;
  color: white;
  margin-left: 10rem;
  text-align: left;
}

.hightLighted {
  color: 3px solid var(--green);
}

.footer {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--blue-500);
  color: var(--gray-300);
  font-size: 0.875rem;
  text-align: center;
  margin-top: auto;
}

.scrollSpy {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: gray;
  transition: all 0.3s ease;
}

.dot:hover {
  transform: scale(1.2);
}

.active {
  background: #2563eb; 
  transform: scale(1.3);
}
