:root {
  --green: #4D7C0F;
  --blue-500: #1c1c24;
  --blue-700: #0c0c14;
  --blue-900: #020617;
  --gray-300: #94A3B8;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--blue-500);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}



.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionContent {
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}



.inicioBg {
  background-color: var(--blue-500);
  background: radial-gradient(
    circle, 
    rgba(77, 124, 15, 0.2) 0%, 
    var(--blue-500) 50%
  );
  animation: pulseBg 5s ease-in-out infinite;
}

@property --pulse-opacity {
  syntax: '<number>';
  initial-value: 0.1;
  inherits: false;
}

@property --pulse-size {
  syntax: '<percentage>';
  initial-value: 70%;
  inherits: false;
}


.techsBg {
   background-color: var(--blue-500);
   margin: 0 auto;
   display: flex;
    flex-direction: column;
}

.sitesBg {
  background-color: var(--blue-500);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.sitesBg footer {
  margin-top: auto;
  padding-bottom: 1.5rem;
}


.contatoBg {
  background-color: oklch(14.7% 0.004 49.25);
}



.avatarWithBorder {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  border: 3px solid var(--green);
  object-fit: cover;
}

.presentationArea {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  color: var(--white);
}

.text {
  color: var(--gray-300);
  line-height: 1.6;
}

.hightLighted {
  color: var(--green);
}

.linkbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}


.scrollSpy {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

.dot {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: gray;
  transition: all 0.3s ease;
}

.dot:hover {
  transform: scale(1.1);
}

.active {
  background:  var(--green);
  transform: scale(1.2);
}



@media (max-width: 1024px) {
  .sectionContent {
    flex-direction: column;
    text-align: center;
  }

  .avatarWithBorder {
    width: 18rem;
    height: 18rem;
    border: 4px solid var(--green);
  }
}
